@import "../abstract/mixins";

.detail {
  @extend .container;

  position: relative;

  aside {
    position: relative;
    nav {
      position: sticky;
      top: calc(60px + 2.5rem);
      ul {
        margin: 0px;
        padding-left: 0px;
        list-style-type: none;
        li {
          a {
            color: var(--detail--link);
            text-decoration: none;
            display: block;
            padding: 0.125rem 0.5rem;
            &:hover {
              color: var(--detail--link--hover--text);
              background-color: var(--detail--link--hover--bg);
            }

            &.active {
              color: var(--detail--link--hover--text);
              background-color: var(--detail--link--hover--bg);
            }
          }

          ul {
            padding-left: 1rem;
          }
        }
      }
    }
  }

  &__image {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    border: 1px solid black;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  main {
    position: relative;
    padding: 2rem;
    .people-image {
      float: right;
      height: 200px;
      border-radius: 0.5rem;
      aspect-ratio: 3/4;
      object-fit: cover;
      border: solid 1px black;
      box-shadow: 0px 3px 5px rgba(black, 50%);
    }
    header {
      display: grid;
      gap: 0.8rem;
      margin-bottom: 2rem;
      div {
      }
    }
  }

  &__edit {
    color: var(--research-area--nav--link);
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  dt {
    font-weight: bold;
    display: inline;
    &::after {
      content: ":";
    }
  }
  dd {
    display: inline;
    &::after {
      content: "";
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .detail {
    display: flex;
    aside {
      flex: 0 1 15rem;
    }
    main {
      flex: 1 1 600px;
    }
  }
}
