@import "../abstract/_mixins.scss";

.event-detail {
  position: relative;
  padding-bottom: 1rem;
  nav {
    padding-bottom: 1rem;
    h2 {
      padding: 0.125rem 0.5rem;
      font-size: 1rem;
    }
    ul {
      list-style-type: none;
      li {
        a {
          color: var(--research-area--nav--link);
          text-decoration: none;
          display: inline-block;
          padding: 0.125rem 0.5rem;
          &:hover {
            color: var(--research-area--nav--link--hover--text);
            background-color: var(--research-area--nav--link--hover--bg);
          }
        }
      }
    }
  }

  main {
    position: relative;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }

  &__edit {
    color: var(--research-area--nav--link);
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &__type {
    color: $primary-light;
    font-weight: 700;
    margin-block: 0.5rem;
    //background-color: hsl(198, 50%, 70%);
  }

  &__title {
    line-height: 1.3;
    font-family: "Roboto Condensed", sans-serif;
  }

  &__infos {
    font-family: "Roboto Slab", sans-serif;
    padding-left: 0px;
  }

  &__info {
    margin-block: 0.5rem;
    span {
      font-weight: 700;
    }
  }

  &__hero {
    padding-inline: 0.75rem;
    color: white;
    background-color: hsl(198, 24%, 30%);
    padding-block: 2rem;
  }

  &__responsive {
    max-width: 34rem;
    margin: auto;
  }

  .markdown {
    @extend .container;
    font-family: "Sen", sans-serif;
    margin-top: 2rem;
    max-width: 34rem;
  }
}

@media (min-width: 992px) {
  .event-detail {
    &__responsive {
      max-width: unset;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
