.container-index {
  max-width: 1600px;
  margin: 0 auto;
}

.content-block {
  padding-block: 2rem;

  &__inner {
    max-width: 1170px;
    margin: auto;
    padding-inline: 1.5rem;
  }
  &__title {
    color: var(--content-block--title);
    &--posts {
      @media screen {
        height: 0px;
        width: 0px;
        overflow: hidden;
      }
    }
  }

  &__container {
    margin-block: 2rem;
    margin-inline: 0px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 3rem 2rem;
  }

  &__item {
    padding-left: 0px;
    max-width: 25rem;
    width: 100%;
    margin-inline: auto;

    &--span-2 {
      max-width: unset;
      grid-column: auto / span 2;
    }
  }

  &--color {
    background-color: var(--intro-color);
  }
}
