@import "../abstract/_mixins.scss";

.new-detail {
  @extend .container;
  max-width: 36rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  nav {
    padding-bottom: 1rem;
    h2 {
      padding: 0.125rem 0.5rem;
      font-size: 1rem;
    }
    ul {
      list-style-type: none;
      li {
        a {
          color: var(--research-area--nav--link);
          text-decoration: none;
          display: inline-block;
          padding: 0.125rem 0.5rem;
          &:hover {
            color: var(--research-area--nav--link--hover--text);
            background-color: var(--research-area--nav--link--hover--bg);
          }
        }
      }
    }
  }

  main {
    position: relative;
  }

  &__image {
    width: min(120%, 100vw - 0.75rem);
    max-width: min(120%, 100vw - 0.75rem);
    margin: 1rem calc((100% - min(120%, 100vw - 0.75rem)) / 2);
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }

  &__edit {
    color: var(--research-area--nav--link);
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  &__title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.4rem;
  }

  &__subtitle {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.2rem;
  }

  .markdown {
    font-family: "Sen", sans-serif;
  }
}
