@import "../abstract/_mixins.scss";

.post-detail {
  --font-size: clamp(
    1rem,
    calc(
      16 * (100vw - 1920px) / (960 - 1920) + 1.4 * 16 * (100vw - 960px) /
        (1920 - 960)
    ),
    1.2rem
  );
  --line-height: clamp(
    1.2rem,
    calc(
      1.4 * 16 * (100vw - 1920px) / (960 - 1920) + 1.2 * 16 * (100vw - 960px) /
        (1920 - 960)
    ),
    1.4rem
  );
  --h2-line-height: clamp(
    1.3 * 24px,
    1.4 * 24 * (100vw - 1920px) / (960 - 1920) + 1.5 * 24 * (100vw - 960px) /
      (1920 - 960),
    1.4 * 24px
  );
  --max-width: calc(0.9 * var(--size-content-3));

  .header {
    max-width: 1600px;
    margin-inline: auto;
    background-color: var(--intro-color);
    color: white;
    padding-inline: 1rem;
    padding-block: 3rem;

    &__inner {
      position: relative;
      max-width: var(--max-width);
      margin-inline: auto;
    }

    &__image {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }

    &__edit {
      color: var(--research-area--nav--link);
      float: right;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    &__type {
      color: $primary-light;
      font-weight: 700;
      margin-block: 0.5rem;
      font-size: var(--font-size);
    }

    &__title {
      color: var(--gray-1);
      max-inline-size: 100%;
      line-height: 1.3;
      font-family: "Roboto Condensed", sans-serif;
      font-size: calc(2 * var(--font-size));
    }

    &__infos {
      font-family: "Roboto Slab", sans-serif;
      padding-left: 0px;
    }

    &__info {
      padding-left: 0px;
      margin-block: 0.5rem;
      span {
        font-weight: 700;
      }
    }

    &__hero {
      padding-inline: 0.75rem;
      color: white;
      padding-block: 2rem;
    }

    &__responsive {
      max-width: var(--max-width);
      margin: auto;
    }
  }

  .markdown {
    @extend .container;
    margin-top: 2rem;
    font-size: var(--font-size);
    line-height: var(--line-height);
    max-width: var(--max-width);

    h2 {
      line-height: var(--h2-line-height);
    }
    p {
      font-size: var(--font-size);
    }
  }

  &--new {
    .header {
      &__information {
        width: 100%;
      }
      &__inner {
        font-size: var(--font-size);
        max-width: var(--max-width);
        margin-inline: auto;
      }
      &__image {
        width: min(120%, 100vw - 0.75rem);
        max-width: min(120%, 100vw - 0.75rem);
        margin: 1rem calc((100% - min(120%, 100vw - 0.75rem)) / 2);
        object-fit: cover;
        aspect-ratio: 16 / 9;
      }
      &__subtitle {
        font-size: calc(1.2 * var(--font-size));
      }
    }
  }
}

@media (min-width: 768px) {
  .post-detail {
    .header {
      &__inner {
        max-width: 960px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }
    &--new {
      .header {
        &__inner {
          max-width: var(--max-width);
        }
      }
    }
  }
}
