@import "../abstract/mixins";

.teacher-detail {
  @extend .container;
  .teacher {
    &__header {
      background-color: var(--teacher-detail--bg1);
      width: 100%;
      height: 100%;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
      z-index: 2;
      padding-top: 2rem;
    }

    &__image {
      margin: auto;

      height: 200px;
      width: 200px;

      border-radius: 50%;
      border: 4px solid var(--teacher-detail--image--border);
      box-shadow: 0px 5px 10px var(--teacher-detail--image--shadow);
      object-fit: cover;
      background-color: var(--teacher-detail--img);
    }

    &__info {
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center;
    }

    &__name {
      font-variant: small-caps;
      font-size: 2rem;
      @include font-size(2rem);
      font-family: sans-serif;
      font-weight: bold;
      color: var(--teacher-detail--text);
    }
    &__research-area {
      @include font-size(1rem);
    }

    &__email {
      font-weight: bold;
      color: #777;

      a {
        color: #777;
        text-decoration: none;
      }
    }

    &__main {
      width: 100%;
    }

    &__contact-side {
      width: 100%;
      text-align: center;
      padding: 20px;
      margin: 5px 0;
      background-color: #fff;
      background-color: var(--teacher-detail--bg2);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
      font-family: sans-serif;
      z-index: 0;

      p {
        margin-bottom: 7px;
        color: #333;
        @include font-size(1rem);

        svg {
          color: var(--color);
          margin-right: 10px;
        }
      }
    }
    &__content {
      padding: 2rem;

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1rem;
      }
    }

    &__publications {
      margin-bottom: 1rem;
      padding-left: 2rem;
      pre {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .teacher-detail {
    .teacher {
      &__header {
        display: flex;
        height: 190px;
        text-align: unset;
        padding-bottom: unset;
      }
      &__image {
        margin: 0;
        position: relative;
        z-index: 1;
        margin-left: 15px;
        margin-right: 15px;
      }
      &__info {
        padding: 2rem;
      }

      &__main {
        width: 100%;
        display: flex;
      }

      &__info {
        text-align: unset;
      }

      &__contact-side {
        flex: 1;
        padding: 90px 15px 20px;
      }
      &__content {
        flex: 2;
      }
    }
  }
}

@media (min-width: 992px) {
  .teacher-detail {
    .teacher {
      &__contact-side {
        width: 300px;
        padding: 90px 30px 20px;
      }

      &__image {
        margin-left: 50px;
        margin-right: 50px;
      }

      &__image {
        width: 230px;
        height: 230px;
      }
    }
  }
}
