@import "../abstract/custom";

:root {
  --body--background: var(--gray-1);
  --body--color: var(--gray-9);
  --intro-color: var(--gray-7);

  --post--bg: transparent;
  --post--color: inherit;
  --post--title: inherit;
  --post--card--bg: gray;
  --post--card--text: white;
  --post--card--shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  --post--img--shadow: none;
  --post--text-shadow: rgba(0, 0, 0, 1);
  --research-area--bg: transparent;
  --research-area--title: #000;
  --research-area--card--bg: hsl(198, 15%, 16%);
  --research-area--card--text: var(--gray-9);
  --teacher--bg: transparent;
  --teacher--title: #000;
  --teacher--card--bg: hsl(130, 52%, 100%);
  --teacher--card--text: black;
  --teacher--card--primary: #{$primary-dark};
  --teacher--card--shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  --footer--border: hsl(198, 15%, 15%);
  --footer--primary-color: #{lighten($primary-light, 10%)};
  --footer--bg1: hsl(198, 28%, 19%);
  --footer--bg2: hsl(198, 24%, 28%);
  --footer--bg3: hsl(198, 28%, 19%);
  --footer--bg4: hsl(198, 29%, 10%);

  --teacher-detail--bg1: white;
  --teacher-detail--bg2: white;
  --teacher-detail--img: gray;
  --teacher-detail--image--border: gray;
  --teacher-detail--image--shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  --teacher-detail--text: black;

  --detail--link: rgba(0, 0, 0, 0.65);
  --detail--link--hover--text: rgba(0, 0, 0, 0.85);
  --detail--link--hover--bg: hsl(198, 31%, 93%);
}
