.button {
  display: inline-block;
  background-color: hsl(216, 98%, 52%);
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
  &:active {
    background-color: #0a58ca;
    border-color: #0a53be;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }

  &--sm {
    padding: 0.125rem 0.125rem;
  }
  &--danger {
    background-color: hsl(354, 70%, 54%);
    height: 100%;

    &:hover,
    &:focus {
      background-color: #bb2d3b;
      border-color: #b02a37;
    }
    &:active {
      background-color: #b02a37;
      border-color: #a52834;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    }
  }
}
