@import "../../node_modules/rfs/scss";
@import "../abstract/_custom.scss";
@import "open-props/colors-hsl";

.card {
  --padding: 1rem;
  background-color: white;
  padding: var(--padding);
  overflow: hidden;
  height: 100%;
  display: block;
  margin-inline: auto;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  color: var(--gray-9);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  border: var(--border-size-1) solid var(--gray-3);

  &:hover,
  &:focus {
    box-shadow: var(--shadow-4);
  }

  @media (--motionOK) {
    animation: var(--animation-fade-in);
  }

  &__image {
    margin-inline: calc(0rem - var(--padding));
    margin-top: calc(0rem - var(--padding));
    width: calc(100% + var(--padding) * 2);
    max-width: calc(100% + var(--padding) * 2);
    margin-bottom: var(--padding);

    display: block;
    border-radius: 0.25rem;
    background-color: var(--card--img--bg);
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &--post {
    color: var(--post--color);
    border: none;

    &:hover,
    &:focus {
      box-shadow: 0px 3px 10px hsl(var(--gray-1-hsl) / 0.5);
    }

    &--new {
      &__type {
        float: left;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        color: var(--orange-9);
      }

      &__timedelta {
        @media screen {
          text-align: right;
        }
        margin-top: 0.125rem;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        color: #555;
      }

      &__title {
        margin-top: 0.25rem;
        @include font-size(1.2rem);
        font-family: "Roboto Slab", sans-serif;
        line-height: 1.3em;

        @media screen {
          font-weight: 700;
        }
      }

      &__subtitle {
        text-decoration: none;
        margin-top: 0.5rem;
        font-family: "Roboto Condensed", sans-serif;
      }
    }

    &--event {
      &__type {
        float: left;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        color: var(--orange-9);
      }

      &__datetime {
        @media screen {
          text-align: right;
        }
        margin-top: 0.125rem;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        color: #555;
      }

      &__title {
        margin-top: 0.5rem;
        @include font-size(1.2rem);
        font-weight: 700;
        line-height: 1.3;
        font-family: "Roboto Slab", sans-serif;
        margin-bottom: 0.25rem;
      }

      &__speaker {
        margin-top: 0.125rem;
        font-family: "Roboto Condensed", sans-serif;
      }
    }
  }

  &--research-area {
    &__name {
      font-family: "Open Sans Condensed", sans-serif;
      display: block;
      @include font-size(1.2rem);
      color: var(--research-area--card--text);
      text-align: center;
      font-weight: 700;
    }
  }

  &--program {
    @media screen {
      text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 16 / 9;

    &__degree {
      display: block;
      color: var(--orange-9);
      margin-bottom: -0.1rem;
      @include font-size(1rem);
    }

    &__title {
      display: block;
      font-size: 1.3rem;
      font-family: "Roboto Slab", serif;
      color: var(--gray-9);
      @include font-size(1.4rem);
    }
  }

  &--researcher {
    height: 100%;
    display: block;
    text-decoration: none;
    aspect-ratio: var(--ratio-portrait);
    display: flex;
    flex-direction: column;

    @media screen {
      text-align: center;
    }

    &__img {
      margin: auto;
      display: inline;
      width: 68%;
      object-fit: cover;
      aspect-ratio: var(--ratio-portrait);
      border-radius: var(--radius-2);
      border: var(--border-size-1) solid var(--gray-8);
    }

    &__name {
      font-family: "Open Sans Condensed", sans-serif;
      @media screen {
        font-weight: 700;
      }
      color: var(--gray-9);
    }

    &__research-area {
      color: var(--orange-9);
      font-family: "Open Sans Condensed", sans-serif;
    }
  }

  &--graduated-student {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    padding: 0.25rem;
    line-height: 1.1;
    aspect-ratio: var(--ratio-landscape);

    &__img {
      width: 90px;
      aspect-ratio: 3/4;
      object-fit: cover;
    }

    &__name {
      font-family: "Open Sans Condensed", sans-serif;
      @media screen {
        font-weight: 700;
      }
    }

    &__major {
      color: var(--orange-9);
      font-family: "Open Sans Condensed", sans-serif;
      margin-top: var(--size-1);
    }

    &__defense-date {
      color: var(--gray-7);
      font-size: var(--font-size-0);
      margin-top: var(--size-1);
      //font-family: "Open Sans Condensed", sans-serif;
    }
  }
}
