.container {
  width: 100%;
  max-width: 1050px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.container-base {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  box-shadow: var(--shadow-2);
  background-color: white;
}

.page {
  padding-block: 3rem;
}

@mixin card {
  border-radius: 0.25rem;
}
