@import "../../node_modules/rfs/scss";

.CodeMirror {
  font-family: monospace;
}

.markdown,
.editor-preview,
.editor-preview-side {
  p {
    line-height: 1.6;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    > tbody {
      vertical-align: inherit;
    }

    > thead {
      vertical-align: bottom;
      > tr > th {
        border-bottom: 1px solid currentColor;
        text-align: inherit;
      }
    }
    > * > * > * {
      border-bottom: 1px solid #dee2e6;
      padding: 0.5rem;
    }
  }

  //h1 { @extend .h4; }
  //h2 { @extend .h5; }
  //h3 { @extend .h6; }
  //h4 { @extend .h6; }
  //h5 { @extend .h6; }
  //h6 { @extend .h6; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  ul {
    padding-left: 2.5rem;
    margin-bottom: 1rem;
  }

  img {
    max-height: 300px;
    width: 100%;
    object-fit: scale-down;
  }

  blockquote {
    //@extend .blockquote
  }

  table {
    //@extend .table;
  }

  a {
    color: var(--orange-9);
  }
}

div.CodeMirror:not(.CodeMirror-fullscreen) {
  &,
  & div.CodeMirror-scroll {
    min-height: 15rem;
    height: 15rem;
  }
}

.CodeMirror .CodeMirror-code {
  font-family: monospace !important;
  font-size: 0.9rem;
  letter-spacing: -1px;
  line-height: 1.5rem;

  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    line-height: 1.5em !important;
  }

  .cm-header-1 {
    @include font-size(1.3rem !important);
  }
  .cm-header-2 {
    @include font-size(1.2rem !important);
  }
  .cm-header-3 {
    @include font-size(1.1rem !important);
  }

  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    @include font-size(1rem !important);
    font-weight: 500 !important;
  }
}

.editor-preview-side {
  p {
    margin-bottom: 24px;
  }
}
