.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;

  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none; // Fix appearance for date inputs in Safari

  border-radius: 0.25rem;

  //@include transition($input-transition);

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    border-color: #86b7fe;

    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
  //&::-webkit-date-and-time-value {
  //// Multiply line-height by 1em if it has no unit
  //height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
  //}

  // Placeholder
  &::placeholder {
    //color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    //background-color: $input-disabled-bg;
    //border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  // File input buttons theming
  &::file-selector-button {
    //padding: $input-padding-y $input-padding-x;
    //margin: (-$input-padding-y) (-$input-padding-x);
    //margin-inline-end: $input-padding-x;
    //color: $form-file-button-color;
    //@include gradient-bg($form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    //border-inline-end-width: $input-border-width;
    //border-radius: 0; // stylelint-disable-line property-disallowed-list
    //@include transition($btn-transition);
  }

  //&:hover:not(:disabled):not([readonly])::file-selector-button {
  //background-color: $form-file-button-hover-bg;
  //}

  &::-webkit-file-upload-button {
    //padding: $input-padding-y $input-padding-x;
    //margin: (-$input-padding-y) (-$input-padding-x);
    //margin-inline-end: $input-padding-x;
    //color: $form-file-button-color;
    //@include gradient-bg($form-file-button-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    //border-inline-end-width: $input-border-width;
    //border-radius: 0; // stylelint-disable-line property-disallowed-list
    //@include transition($btn-transition);
  }

  //&:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  //background-color: $form-file-button-hover-bg;
  //}
}

.form-label {
  //margin-bottom: $form-label-margin-bottom;
  //@include font-size($form-label-font-size);
  //font-style: $form-label-font-style;
  //font-weight: $form-label-font-weight;
  //color: $form-label-color;
}

.form-div {
  margin-bottom: 1rem;
}
