.logo {
  display: flex;
  flex-direction: row;
  font-size: calc(0.8 * clamp(2rem, 1.5rem + 1.333vw, 2.5rem));
  line-height: 1;

  &__title {
    position: relative;
    font-family: "IMCA", sans-serif;

    &--color {
      position: relative;
      color: var(--orange-7);
    }
  }

  &__sep {
    @media screen {
      display: none;
    }
  }

  &__subtitle {
    font-size: 0.55em;
    line-height: 1;
    margin-left: calc(2 * 0.33em);
    font-family: "Almarai", sans-serif;
    position: relative;
    display: block;
    text-align: left;
    border-radius: 1rem;
    font-weight: 500;
  }

  &--shadow {
    .logo {
      &__title {
        filter: drop-shadow(0 0 0.125em black) drop-shadow(0 0 0.25em black)
          drop-shadow(0 0 0.375em black);
      }
      &__subtitle {
        filter: drop-shadow(0 0 0.125em black) drop-shadow(0 0 0.25em black)
          drop-shadow(0 0 0.375em black);
      }
    }
  }
}
