body {
  background: var(--body--background);
  color: var(--body--color);
}

html {
  color-scheme: light;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  color: var(--gray-9);
}

textarea,
select,
input:not(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]) {
  background-color: white;
}
