body {
  font-family: var(--font-sans);
}

@font-face {
  font-family: IMCA;
  src: url(img/IMCA.woff);
}

@import "https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Crete+Round&display=swap";
@import "https://fonts.googleapis.com/css2?family=Kadwa&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap";
@import "https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
