.footer {
  max-width: 1600px;
  margin-inline: auto;
  &__title,
  &__rule {
    @media screen {
      display: none;
    }
  }
}

.contact-box-section {
  padding: 1rem 0;
  background-color: var(--footer--bg1);
  border-top: 1px solid var(--footer--border);

  &__container {
    margin: 0px;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contact-box {
  display: flex;

  &__title {
    @media screen {
      display: none;
    }
  }

  &__icon {
    width: 2rem;
    stroke: var(--orange-3);
    fill: transparent;
  }

  &__link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  &__info {
    padding: 0.4rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: #ddd;
    text-decoration: none;
  }

  &__link:hover,
  &__link:focus {
    .contact-box__icon {
      stroke: var(--footer--primary-color);
    }
    .contact-box__info {
      color: white;
    }
  }
}

.media-content {
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  background-color: var(--footer--bg2);
  border-bottom: 1px solid var(--footer--border);
  border-top: 1px solid var(--footer--border);

  &__container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__text {
    color: var(--gray-1);
    flex: 2 0 max-content;
    font-size: 1rem;
    font-weight: normal;
    max-inline-size: none;
  }

  &__icons {
    flex: 1 0 max-content;
    margin: 0px;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: var(--footer--primary-color);
      }
      margin: 0 0.5rem;
    }
  }
  &__link {
  }
  &__icon {
    height: 1.5em;
    display: inline;
  }

  &__item {
    display: inline;
  }
}

.footer-links {
  background-color: var(--footer--bg3);

  &__container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.footer-links-column {
  flex: 1;
  @media screen {
    text-align: center;
  }
  &__title {
    max-inline-size: 100%;
    color: var(--gray-1);
    font-size: var(--font-size-1);
    &::after {
      content: "";
      background: #fff;
      width: 100px;
      height: 2px;
      display: block;
      margin: 0.75rem auto;
    }
  }

  ul {
    padding-left: 0px;

    display: block;
    position: relative;

    li {
      font-size: calc(0.9 * var(--font-size-1));
      padding-left: 0px;
      margin-bottom: 0.5rem;
      max-inline-size: none;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: var(--footer--primary-color);
        }
      }
      @media screen {
        list-style-type: none;
      }
    }
  }
  &:first-of-type {
    @media screen {
      text-align: left;
    }
    .footer-links-column__title {
      &::after {
        margin-left: 0;
      }
    }
  }
  &:last-of-type {
    @media screen {
      text-align: right;
    }
    .footer-links-column__title {
      &::after {
        margin-right: 0;
      }
    }
  }
}

.copyright__section {
  padding: 1rem 1rem;
  background-color: var(--footer--bg4);
  text-align: center;
}

.copyright__text {
  color: #666;
}
