@import "../../node_modules/rfs/scss";
.intro-section {
  --text: var(--gray-1);
  --display--bg: var(--gray-7);
  --mix-blend-mode: multiply;

  position: relative;
  isolation: isolate;
  background-color: var(--intro-color);

  overflow: hidden;
  align-items: center;
  text-align: center;
  color: var(--text);

  &__container {
    max-inline-size: calc(1170px - 2 * 1.5rem);
    margin-inline: auto;
    height: clamp(300px, 122px + 23vw, 500px);
    border-radius: 0.25rem;
    position: relative;
    box-shadow: var(--post--card--shadow);

    &::before {
      content: "";
      position: absolute;
      border-radius: 0.25rem;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url("img/imca-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.intro {
  &__display {
    display: flex;
    align-items: flex-start;
    max-inline-size: 100%;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: calc(0.8 * clamp(2rem, 1.5rem + 1.333vw, 2.5rem));
    color: white;
    line-height: 1;

    &::before {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      content: "";
      background-color: var(--display--bg);
      position: absolute;
      inset: 0px;
      mix-blend-mode: var(--mix-blend-mode);
    }
  }
}

@media (min-width: 768px) {
  .intro {
    &__display {
      &__subtitle {
        font-size: 0.33em;
      }
    }
  }

  .intro-section {
    padding-inline: 1.5rem;
    padding-top: 2rem;
  }
}
