main.login {
  display: grid;
  place-items: center;
  min-height: 40rem;

  a {
    color: var(--gray-7);
    border: var(--border-size-1) solid var(--gray-7);
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
    border-radius: var(--radius-2);
    display: flex;
    gap: var(--size-2);
    font-size: var(--font-size-3);
  }
}
