@use "../abstract/mixins" as *;

.navbar {
  --background: hsl(198, 24%, 30%);
  --text: var(--gray-1);
  --hover--text: var(--orange-3);
  --hover--background: hsl(198, 24%, 40%);

  background: var(--background);
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  max-width: 1600px;
  height: 60px;
  margin-inline: auto;
  box-shadow: var(--shadow-2);

  &__container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__title,
  &__rule {
    @media screen {
      display: none;
    }
  }

  &__brand {
    font-size: 1.25rem;
    font-family: "IMCA", sans-serif;
    padding: 0.5rem;

    flex: 0 1 auto;
    align-items: flex-start;
    justify-content: center;
  }

  a {
    color: var(--text);
    text-decoration: none;
    margin: 0px;
  }

  &__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 100%;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    font-size: var(--font-size-1);

    @media screen {
      display: none;
    }

    &.open {
      display: flex;
      background-color: var(--background);
      gap: 0.5rem;
    }
  }
  &__item {
    color: var(--text);

    ul {
      position: static;
      display: inline;
      padding: 0.5rem 0;
      margin: 0;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: var(--hover);
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      li {
        list-style-type: none;
      }
    }
  }
  &__link {
    padding: 1rem;
    display: inline-block;

    &:hover,
    &:focus {
      color: var(--hover--text);
      border-bottom: solid 3px $primary-light;
      margin-bottom: -3px;
    }
  }

  .menu-icon {
    position: relative;
    z-index: 1;
    height: 20px;
    width: 28px;
    cursor: pointer;

    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background-color: var(--text);
      @include transition-ease;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background-color: var(--text);
        @include transition-ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 28px;
        height: 3px;
        background-color: var(--text);
        @include transition-ease;
      }

      &.open {
        background-color: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }
        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .navbar {
    .menu-icon {
      display: none;
    }

    &__list {
      flex: 1 0 auto;
      display: flex;
      flex-direction: row;
    }

    &__item {
      ul {
        position: absolute;
        li {
          list-style-type: none;
        }
      }
    }
    &__link {
      padding: 0.5rem;
    }
  }
}
