@import "../abstract/mixins.scss";

.teacher {
  &__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: transparent;
  }

  &__container {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    justify-content: space-around;
    gap: 1.5rem 1rem;
  }

  &__item {
    margin-inline: auto;
    max-width: 15rem;
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
  }
}
